name: Trigger auto deployment for techvest-retailmarketingagent-rg

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/techvest-retailmarketingagent-rg-AutoDeployTrigger-e2043c9f-08e5-43f3-825c-a3cbf4fd9ff4.yml'

  # Allow manual trigger 
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.TECHVESTRETAILMARKETINGAGENTRG_AZURE_CREDENTIALS }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: retailmarketingagent.azurecr.io
          registryUsername: ${{ secrets.TECHVESTRETAILMARKETINGAGENTRG_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.TECHVESTRETAILMARKETINGAGENTRG_REGISTRY_PASSWORD }}
          containerAppName: techvest-retailmarketingagent-rg
          resourceGroup: AgenticAI
          imageToBuild: retailmarketingagent.azurecr.io/techvest-retailmarketingagent-rg:${{ github.sha }}
          
            

     

